@model UserManagement.Web.Models.Users.UserListItemViewModel
@{
    ViewData["Title"] = "Add";
}
<h2>Add User</h2>

<form asp-action="SubmitAdd" method="post">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>    
            </thead>
            <tbody>
                <tr>
                    <td>Forename</td>
                    <td><input asp-for="Forename" class="form-control"/></td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td><input asp-for="Surname" class="form-control"/></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input asp-for="Email" type="email" class="form-control"/></td>
                </tr>
                <tr>
                    <td>Account Active</td>
                    <td>
                        <div>
                            <label>
                                <input type="radio" asp-for="IsActive" value="true"/>
                                Active
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" asp-for="IsActive" value="false"/>
                                Inactive
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td><input asp-for="DateOfBirth" type="date" class="form-control"/></td>
                </tr>
            </tbody>
        </table>
    </div>  

    <button type="submit" class="btn-primary">Save</button>  
</form>


<div>
    <div class="btn-group" role="group"></div>

    <a class="btn btn-primary float-end" asp-controller="Users" asp-action="List">
        User List
    </a>
</div>